<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="navbar">
                <a href="index2.html">HOME</a>
                <a href="#">CONTACT</a>
                <a href="#">ABOUT US</a>
                <a href="#">SERVICES</a>
            </div>
            <button class="button"><a href="index3.html">LOGIN</a></button>
        </div>
        <div class="content">
            <h1>BOOK STORE REVIEW</h1>
            <button class="button"><a href="">PROFILE</a></button>
            <button class="button"><a href="">EXPLORE</a></button>
        </div>
    </div>


</body>
</html>